<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Analytics Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <header>
    <h1>MARY SIMONIAN Data Analytics Portfolio</h1>
    <nav>
      <ul>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="projects">
    <h2>Projects</h2>
    <div class="project">
      <h3>Project 1</h3>
      <p>•	Presented tools and recommendations to directors and executive staff.
•	Streamlined case reports form payment approval process by simplifying reports and eliminating paper approval forms
•	Organized and reported training statistics to company-wide management.
•	Conducted statistical analyses to leverage the results to drive brand decision making and survey development
•	Participated in meetings with executives, providing information on the progress.
•	Conducted data preparation, and outlier detection using MS SQL server; built the model using Python.
</p>
    </div>
    <div class="project">
      <h3>Project 2</h3>
      <p>Description of Project 2</p>
    </div>
    <!-- Add more projects as needed -->
  </section>

  <section id="about">
    <h2>About Me</h2>
    <p>Motivated and responsible Data Analyst with experience interpreting and analyzing data in order to drive successful business solutions. Creatively finds solutions to problems by determining modifications for optimal use of organizational data. Highly analytical and process-oriented with in-depth knowledge of database types.</p>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: marysimonian.a@gmail.com</p>
    <p>Phone: +374 91589011</p>
    <p>Instagram: @marysimonian.a</p>
    <!-- Add additional contact information as needed -->
  </section>

  <footer>
    <p>&copy; 2024 Data Analyst Portfolio. All rights reserved.</p>
  </footer>

</body>
</html>
